@mixin mobile

/* Custom Fonts */
@font-face {
  font-family: Rubik;
  src: url("./assets/font/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url("./assets/font/Rubik-Regular.ttf");
  font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: white;
  color: black !important;
  font-family: "Rubik";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* NavBar CSS */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
  background-color: #FBFBFC;
}

nav.navbar.scrolled {
  padding: 0px 0;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 500;
  font-weight: bold;
  color: black !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 14px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid black;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid black;
}

nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon::before {
  width: 24px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon::after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(45deg);
  background-color: black;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: translateY(8px) rotate(-45deg);
  background-color: black;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banner CSS */
.banner {
  margin-top: 0;
  padding: 160px 0 100px 0;
  background-color: #FBFBFC;
}

.banner h1, h2, p {
  font-weight: 500;
  font-weight: bold;
}

.banner h1 {
  font-size: 45px;
}

.banner h2 {
  font-size: 25px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
}

.banner .my-name {
  font-weight: 500;
  font-weight: bold;
  font-size: 25px;
  color: #C26DBC;
}

/* About CSS */
.about {
  padding: 100px 0 100px 0;
}

.about .card {
  background-color: #f7f7f7;
  /* background: -webkit-linear-gradient(black, rgb(30, 30, 30), rgb(50, 50, 50)); */
}

.about .card-body {
  padding: 50px;
}

.about h1 {
  font-weight: 500;
  font-weight: bold;
  font-size: 30px;
  background: -webkit-linear-gradient(left, #F43F5E, #C26DBC, #7E94D9);
  background: -o-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: -moz-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: linear-gradient(to right, #F43F5E, #C26DBC, #7E94D9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .rectangle {
  width: 100px;
  height: 3px;
  background: -webkit-linear-gradient(left, #F43F5E, #C26DBC, #7E94D9);
  background: -o-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: -moz-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: linear-gradient(to right, #F43F5E, #C26DBC, #7E94D9); 
}

.about p {
  /* color: #FECDD3; */
  font-weight: 400;
  font-size: 14px;
}

/* Skills CSS */
.skill {
  font-weight: 500;
  padding-bottom: 100px;
}

.skill h1, h6 {
  text-align: center;
}

.skill h1 {
  font-weight: bold;
  font-size: 30px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #7E94D9;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  animation: bounce 0.7s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

.skill h6 {
  font-size: 10px;
  padding-bottom: 20px;
}

.skill .card {
  background-color: #f7f7f7;
}

.skill h5 {
  font-weight: bold;
  padding-top: 40px;
  font-size: 18px;
}

.skill p {
  font-weight: 400;
  font-size: 14px;
}

.skill .card-body {
  padding: 0 40px 20px 40px;
}

/* Projects CSS */
.project {
  padding-bottom: 60px;
}

.project h1 {
  font-weight: 500;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 8px;
  /* color: #F43F5E; */
}

.project h2 {
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
}

.project h6 {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.project p, span {
  font-weight: 400;
  font-size: 10px;
}

.project span {
  color: #C26DBC;
}

.project .card-body {
  padding: 0 40px 40px 40px;
}

.project .line {
  width: 10px;
  height: 40px;
  background: -webkit-linear-gradient(#C26DBC, #7E94D9);
}

/* Test CSS */
.project .nav.nav-pills {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 50px;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 10px 0;
  color: #7E94D9;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #C26DBC -5.91%, #7E94D9 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  color: white;
  border: 1px solid #C26DBC;
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid #c0c0c0;
  border-radius: 10px 0px 0px 0px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid #c0c0c0;
  border-radius: 0px 10px 0px 0px;
}

/* Footer CSS */
.footer{
  background-color: #FBFBFC;
}

.footer h1 {
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #F43F5E, #C26DBC, #7E94D9);
  background: -o-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: -moz-linear-gradient(right, #F43F5E, #C26DBC, #7E94D9);
  background: linear-gradient(to right, #F43F5E, #C26DBC, #7E94D9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer h6 {
  font-size: 16px;
}

.footer p {
  font-size: 14px;
  font-weight: 400;
}

.footer a:link {
  color: #303030;
}

.footer a:hover {
  color: #96b0ff;
}

.footer a:active {
  color: #7E94D9;
}

.footer a:visited {
  color: #7E94D9;
}
